<% layout("/layouts/boilerplate")%>
    <!-- <body> -->
    <div class="row mt-4">
        <div class="col-8 offset-2">

            <h3>Edit your Listing</h3>
            <form
                method="POST"
                action="/listings/<%=listing._id%>/edit?_method=PUT"
                novalidate class="needs-validation"
                enctype="multipart/form-data"
            >
                
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter title</div>
                </div>
                <div class="mb-3">

                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                </div>
                <div class="form-label">
                    Original Listing Image 
                    <br>
                    <img style="border-radius: 15px; height: 120px ; width: 120px;" src="<%= originalImageUrl%>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>

                    <input name="listing[image]" class="form-control"  type="file">
                </div>
                
                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" class="form-control" value="<%=listing.price%>" type="text" required>
                        <div class="invalid-feedback">It is required!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" class="form-control" value="<%=listing.location%>" type="text" required>
                        <div class="invalid-feedback">Please provide the  location</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" class="form-control" value="<%=listing.country%>" type="text" required>
                    <div class="invalid-feedback">Please provide the country name</div>
                </div>
                <br>
                <button class="btn btn-danger">Done</button>
            </form>
        </div>
    </div>
    <!-- </body> -->